html, body
{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body
{
    margin: 0;
    padding: 0;
    background-color: #eeffdd;
}

#header-wrap
{
    position: fixed;
    width: 100%;
}
#header-container
{
    height: 30px;
    background-color: #c4d7db;
}

#header
{
    width: 100%;
    position: relative;
    background-color: #c4d7db;
}

#Obrowser
{
    background-color: #eeffdd;
    height: 100%;
    width: 100%;
    overflow: auto;
    padding-top: 30px;
}


#footer-wrap
{
    position: fixed;
    width: 100%;
    height: 25px;
    bottom: 0;
    z-index: 55;
    left: 0;
}

#footer-container
{
    height: 25px;
    background-color: #c4d7db;
}

#footer
{
    width: 100%;
}

.ADD
{
    height: 16px;
    width: 16px;
    background-image: url(../Images/add.png);
    margin-left: 0px;
}

.EDIT
{
    height: 16px;
    width: 16px;
    background-image: url(../Images/edit.png);
    margin-left: 0px;
}
.DELETE
{
    height: 16px;
    width: 16px;
    background-image: url(../Images/delete.png);
    margin-left: 0px;
}

.ZOOM
{
    height: 16px;
    width: 16px;
    background-image: url(../Images/zoom.png);
    margin-left: 0px;
}
.VIEW
{
    height: 16px;
    width: 16px;
    background-image: url(../Images/view.png);
    margin-left: 0px;
}
.MULTISELECT
{
    height: 12px;
    width: 12px;
    margin-left: 0px;
}
.GROUP2FILTER
{
    height: 16px;
    width: 16px;
    background-image: url(../Images/Group2Filter.png);
    background-color:Transparent;
    margin-left: 0px;
}

.BASKET
{
    height: 16px;
    width: 16px;
    background-image: url(../Images/basket.png);
    background-repeat:no-repeat;
    margin-left: 0px;
    cursor:pointer;
}
.expand
{
    height: 12px;
    width: 12px;
    background-image: url(../Images/expand.gif);
}
.collapse
{
    height: 12px;
    width: 12px;
    background-image: url(../Images/collapse.gif);
}

.hideDiv
{
    display:none;
}
.showDiv
{
    display: block;
    background-color:#eeffdd;
}


.panel
{    
    margin-left:25%;
    margin-top:15%;
    text-align:center;
}

.colname
{
    padding-left: 5px;
    font-size: 14px;
    font-weight: bold;
    text-align: right;
}

.colvalue
{
    padding-left: 10px;
    font-size: 14px;
    text-align: left;
}


.buttonTD
{
    padding-left: 100px;
    height: 60px;
}
.GETNAW,.GETPERSONEN
{
    height: 16px;
    width: 16px;
    background-image: url(../Images/gotopage.png);
    margin-left: 0px;
}
.DOWNLOAD
{
    height: 16px;
    width: 16px;
    background-image: url(../Images/download.png);
    background-repeat:no-repeat;
    margin-left: 0px;
    cursor:pointer;
}
.textarea
{
    font-family:Verdana;
    font-size:9pt;
}